<!DOCTYPE html>
<html>
<head>
  <title>Customer Added Successfully</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
 <h1>Great</h1>
 <h1>New Customer Added Successfully👻</h1><br/>
 <form method="GET" action="http://localhost:3000/logs">
     
     <input type="checkbox">Satisfied Y/N?<br/><br/>
     <button>Click to see communication log ©</button><br/>
 </form>
</body>
</html>
